<form>
  <div class="mt-5">
    <div class="div-img-detail-room">
      <h2 class="mb-4">{{roomDat.name}}</h2>

      <div class="form-group">
        <label for="pictureRoom">image Room</label>
        <input type="file" class="form-control-file" id="imgRoom" />
      </div>

      <p><b>Description</b>: {{roomDat.description}}</p>
      <p><b>Age Limit</b>: {{roomDat.ageLimit}}</p>
      <p><b>Capacity</b>:
        {{!-- {{getMinCapacity roomDat.capacity}}
        à
        {{getMaxCapacity roomDat.capacity}} --}}
        joueurs</p>
      <h3 class="mt-5 mb-4">Créneaux disponibles</h3>
    </div>
    {{!-- {{#if slotsR.length}}
        <table class="table mb-5">
            <thead>
                <tr>
                    <th>Jour</th>
                    <th>Créneau</th>
                    <th>Réservation</th>
                </tr>
            </thead>
            {{#each slotsR}}
                {{#if (checkExpiredSlot  during )}}
                    <tr>
                        <td>{{getDate during}}</td>
                        <td>{{slotToStr during}}</td>
                        <td>
                      
            {{/each}}
        </table>

    {{!-- {{/if}} --}}
    --}}
  </div>

  {{! <form>

  <div class="form-group">
    <label for="pictureRoom">image Room</label>
    <input type="file" class="form-control-file" id="imgRoom" />
  </div>
  <div class="form-group">
    <label for="description room">Description</label>
    <input
      type="text"
      class="form-control"
      id="descRoom"
      placeholder="description"
    />
  </div>
  <div class="form-group">
    <label for="price">price</label>
    <input type="text" class="form-control" id="price" placeholder="..€" />
  </div> }}

  <button
    type="submit"
    class="btn btn-primary"
    onclick="updateRoom();"
  >Submit</button>
</form>